body {
    margin: 0;
}
.header {
    height: 80px;
    background: #651FFF;
    display: flex;
}

.title {
    color: white;
    align-self: center;
    margin: 0 32px;
    font-size: 1.5rem;
    font-weight: 100;
}