.signup-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #673AB7;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 250px;
    height: 30%;
    min-height: 200px;
    align-self: center;
    background: white;
    padding: 32px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.signup input {
    margin: 12px 0;
    padding: 4px 0;
    border: none;
    font-size: 1.15rem;
    border-bottom: 1px solid black;
    min-width: 250px;
    outline: none;
    width: 70%;
}


.signup button {
    font-size: 1rem;
    color: white;
    padding: 8px;
    background-color: #009688;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    align-self: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
